<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <configSections>

    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection,         AjaxControlToolkit" />
    </sectionGroup>
  
  <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
  <connectionStrings>
    <add name="StoreCreatorCS" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\HP ENVY\Documents\StoreCreator.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  

  <system.web>
    
    <authentication mode="Forms">
      <forms name="StoreCreatorAuthenticate" loginUrl="LogIn.aspx" timeout="20" slidingExpiration="true" cookieless="UseCookies" protection="All" requireSSL="false" defaultUrl="FrontEndSearchProducts.aspx">
      </forms>
      
      
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  
    
<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

  <system.webServer>
    <modules>
      <add name="modCheckForCookiesEnabled" type="modCheckForCookiesEnabled" />
      <add name="modHttpInformation" type="modHttpInformation" />
      <add name="modHttpResponseInfo" type="modHttpResponseInfo" />
      <add name="modLogIn" type="modLogIn" />

    </modules>
  </system.webServer>
<ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" /></configuration>